<div *ngIf="!ready">
  <c-spinner color="dark"></c-spinner>
</div>
<div class="bg-light min-vh-100 d-flex flex-row" *ngIf="ready">
    <c-container>
        <c-row>
            <c-card>
                <c-card-body>
                    <h4 style="text-align: center;">Liste des reparations en cours</h4>
                    <br>
                    <table cTable>
                        <thead>
                        <tr>
                        <th scope="col">Modele</th>
                        <th scope="col">Marque</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Type voiture</th>
                        <th scope="col">Date déposition</th>
                        <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vt of listeVt; index as i">
                                <th>{{ vt.modele }}</th>
                                <td>{{ vt.marque }}</td>
                                <td>{{ vt.numero }}</td>
                                <td>{{ vt.type_voiture }}</td>
                                <td>{{ vt.reparation.date_deposition }}</td>
                                <td>
                                  <button cButton color="warning" size="sm" (click)="detail(i)">
                                    Avancement <svg cIcon name="cil-chevron-right"></svg> 
                                  </button>
                                </td>
                              </tr>
                        </tbody>
                        </table>
                        <c-pagination aria-label="Page navigation example"
                            *ngIf="count!==0"
                        >
                          <c-page-item
                            *ngFor="let n of nb; index as i">
                            <a
                              class="cursor"
                              cPageLink
                              >{{ i + 1 }}</a
                            >
                          </c-page-item>
                        </c-pagination>
                </c-card-body>
            </c-card>    
        </c-row>
    </c-container>
</div>

<c-modal
    #verticallyCenteredModal
    alignment="center"
    id="verticallyCenteredModal"
    [visible]="liveDemoVisible"
    (visibleChange)="handleLiveDemoChange($event)"
    size="lg"
  >
    <c-modal-header>
      <h5 cModalTitle>Avancement</h5>
    </c-modal-header>
    <c-modal-body>
        <c-row>
            <c-col md="3" xl="4" *ngFor="let lr of listeRep.liste_reparation; index as ii">
            <c-widget-stat-b>
            <c-progress class="my-1" thin>
                <c-progress-bar [value]="lr.avancement" color="success"></c-progress-bar>
            </c-progress>
            <p>{{lr.reparation}} : {{lr.avancement}}%</p>
            <p><strong>{{lr.prix}} Ar</strong></p>
            <c-row *ngIf="lr.avancement !== 100">
                <form [formGroup]="form" cForm>
                    <c-row>
                        <c-col md="3" xl="4">
                            <c-input-group class="mb-3" >
                                <input autoComplete="taux" cFormControl placeholder="..." type="text" formControlName="taux" [ngClass]="{ 'is-invalid': submitted && f['taux'].errors }"/>
                              <div *ngIf="submitted && f['taux'].errors" class="invalid-feedback">
                                <div *ngIf="f['taux'].errors['required']"></div>
                              </div>
                            </c-input-group>
                        </c-col>
                        <c-col md="1" xl="2">
                            <button cButton class="px-4" [disabled]="loading" color="dark" size="sm" (click)="modifier(listeRep.date_deposition,lr.reparation,lr.avancement)">  
                              <span *ngIf="loading"> <c-spinner color="light" size="sm" ></c-spinner> </span>   Modifier
                            </button>
                        </c-col>
                    </c-row>
                  </form>
                  <c-alert
            #alertWithButtonCloseTemplate="cAlert"
            [dismissible]="dismissible"
            [visible]="visibleError"
            (visibleChange)="onAlertVisibleChange($event)"
            color="danger"
            fade
            variant="solid"
          >
            <ng-template
              [ngIf]="alertWithButtonCloseTemplate.dismissible"
              cTemplateId="alertButtonCloseTemplate"
            >
              <button
                (click)="visibleError = false"
                cButtonClose
                white
              ></button>
            </ng-template>
            {{ error }}
          </c-alert>
            </c-row>
            </c-widget-stat-b>
            </c-col>
        </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button
        [cModalToggle]="verticallyCenteredModal.id"
        cButton
        color="secondary"
      ><svg cIcon name="cil-arrow-circle-left"></svg> </button>
    </c-modal-footer>
  </c-modal>
