<div class="bg-light min-vh-100 d-flex flex-row">
    <c-container>
        <c-row>
            <c-card>
                <c-card-body>
                    <h4 style="text-align: center;">Liste des proforma</h4>
                    <br>
                    <c-nav variant="tabs">
                        <c-nav-item>
                        <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="index1" cNavLink>Proforma</a>
                        </c-nav-item>
                        <c-nav-item>
                            <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="index2" cNavLink>En attente</a>
                        </c-nav-item>
                      </c-nav>
                      <c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="0">
                        <c-tab-pane class="p-3">
                            <table cTable>
                                <thead>
                                <tr>
                                <th scope="col">Modele</th>
                                <th scope="col">Marque</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Type voiture</th>
                                <th scope="col">Liste réparation</th>
                                <th scope="col">Etat</th>
                                <th scope="col">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vt of listeV; index as i">
                                        <th>{{ vt.modele }}</th>
                                        <td>{{ vt.marque }}</td>
                                        <td>{{ vt.numero }}</td>
                                        <td>{{ vt.type_voiture }}</td>
                                        <td>
                                           <tr *ngFor="let rep of vt.reparation; index as ii">
                                            <td>{{rep.reparation}}</td>
                                            <td  style="text-align:right">{{rep.prix}} AR</td>
                                            </tr>
                                            <tr>
                                            <td><strong>Total</strong></td>
                                            <td style="text-align:right;color:darkgreen"><strong>{{vt.montant_total}} AR</strong></td>
                                            </tr>
                                        </td>
                                        <td><c-badge color="success">Accepté</c-badge></td>
                                        <td>
                                            <button cButton color="warning" size="sm" (click)="depotVoiture(i,vt.modele,vt.marque,vt.numero,vt.type_voiture)">
                                              Déposer <svg cIcon name="cil-arrow-circle-left"></svg> 
                                            </button>
                                          </td>
                                      </tr>
                                </tbody>
                                </table>
                        </c-tab-pane>
                        <c-tab-pane class="p-3">
                            <table cTable>
                                <thead>
                                <tr>
                                <th scope="col">Modele</th>
                                <th scope="col">Marque</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Type voiture</th>
                                <th scope="col">Liste réparation</th>
                                <th scope="col">Etat</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vt of listeE; index as i">
                                        <th>{{ vt.modele }}</th>
                                        <td>{{ vt.marque }}</td>
                                        <td>{{ vt.numero }}</td>
                                        <td>{{ vt.type_voiture }}</td>
                                        <td>
                                            <tr *ngFor="let rep of vt.reparation; index as i">
                                            <td>{{rep.reparation}}</td>
                                            </tr>
                                        </td>
                                        <td><c-badge color="danger">En attente</c-badge></td>
                                      </tr>
                                </tbody>
                                </table>
                        </c-tab-pane>
                      </c-tab-content>
                </c-card-body>
            </c-card>    
        </c-row>
    </c-container>
</div>
