<div class="bg-light min-vh-100 d-flex flex-row align-items-center" background-color="red">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6" >
            <c-card class="mx-4">
                <c-card-body class="p-4">
                <c-callout color="success">
                    <p>Vous allez être redirigé vers la page de connection et authentifiez-vous!</p>    
                </c-callout>
            </c-card-body>
        </c-card>
        </c-col>
    </c-row>
  </c-container>
</div>
        