<div *ngIf="!ready">
    <c-spinner color="dark"></c-spinner>
  </div>
  <div class="bg-light min-vh-100 d-flex flex-row" *ngIf="ready === true">
    <c-container>
      <c-row>
        <c-card>
          <c-card-body>
            <h4 style="text-align: center">Statistique {{dataBenefice.labels[1]}} </h4>
            
            <br />
            <c-row>
              <c-col lg="3"></c-col>
              <c-col lg="6" xs="12">
                <c-widget-stat-f
                  title="Temps de reparation moyen pour une voiture"
                  class="mb-3"
                  color="danger"
                  padding
                  [value]="tempsMoyen"
                >
                  <ng-template cTemplateId="widgetIconTemplate">
                    <!-- <svg cIcon="icons.cilChartPie" size="xl" width="24"></svg> -->
                    <!-- <span style="padding-right: 1vw"> -->
                      <svg cIcon name="cilCarAlt" size="3xl"></svg>
                    <!-- </span> -->
                  </ng-template>
                </c-widget-stat-f>
              </c-col>
            </c-row>
            <c-nav variant="tabs">
              <c-nav-item>
                <a
                  [cTabContent]="tabContent"
                  [routerLink]
                  [tabPaneIdx]="index1"
                  cNavLink
                  >Chiffre d'affaire</a
                >
              </c-nav-item>
              <c-nav-item>
                <a
                  [cTabContent]="tabContent"
                  [routerLink]
                  [tabPaneIdx]="index2"
                  cNavLink
                  >Benefice</a
                >
              </c-nav-item>
            </c-nav>
            <c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="0">
              <c-tab-pane class="p-3">
                <c-row
                ><c-col lg="2"></c-col
                ><c-col lg="8"
                  ><c-chart
                    [data]="dataBenefice"
                    [options]="option"
                    type="line"
                  ></c-chart></c-col
              ></c-row>
                <c-row
                  ><c-col lg="2"></c-col
                  ><c-col lg="8"
                    ><c-chart
                      [data]="dataChiffreAffaire"
                      [options]="option"
                      type="line"
                    ></c-chart></c-col
                ></c-row>
                
              </c-tab-pane>
              <c-tab-pane class="p-3"> 
                <c-row
                ><c-col lg="2"></c-col
                ><c-col lg="8"
                  ><c-chart
                    [data]="dataBenefice"
                    [options]="option"
                    type="line"
                  ></c-chart></c-col
              ></c-row>
              </c-tab-pane>
            </c-tab-content>
          </c-card-body>
        </c-card>
      </c-row>
    </c-container>
  </div>
  